.screen {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.screen.active {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    height: 650px;
    width: 1030px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    .main_container {
        height: 375px;
        width: 680px;
    }
    
}
@media screen and (max-width: 480px) {
    .main_container {
        height: 375px;
        width: 375px;
    }
    
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all_pages {
    display: flex; 
    height: 100%;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}